{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h2>{{ title }}</h2>

    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Date de publication</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.publishedAt|date('d/m/Y') }}</td>
                    <td>{{ book.genre.label() }}</td>
                    <td>
                        <form method="post" action="{{ path('app_book_delete', {'id': book.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce livre ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun livre trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
